/* screen - home */

.home {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 5744px;
  min-width: 1440px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
.home .a-crucial-part-of-th-1DjvRl {
  background-color: transparent;
  color: var(--white);
  font-family: 'Open Sans', Helvetica, Arial, serif;
  font-size: 22px;
  font-style: normal;
  font-weight: None;
  height: 195px;
  left: 346px;
  letter-spacing: 0.00px;
  line-height: 46px;
  position: absolute;
  text-align: left;
  top: calc(43.02% - 84px);
  width: calc(100.00% - 690px);
}
.home .bg-1DjvRl {
  background-color: var(--cerulean-frost);
  height: 1157px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.home .community-engagement-4abgn0 {
  background-color: transparent;
  bottom: calc(109.64% - 203px);
  color: var(--white);
  font-family: 'Open Sans', Helvetica, Arial, serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  height: 185px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 96px;
  position: absolute;
  text-align: left;
  width: 100.24%;
}
.home .community-engagement-C61RwL {
  background-color: transparent;
  color: rgba(6,6,6,1.0);
  font-family: 'Open Sans', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: None;
  height: 725px;
  letter-spacing: 0.00px;
  line-height: 36px;
  position: absolute;
  right: calc(49.71% - 374px);
  text-align: left;
  top: calc(22.08% - 160px);
  width: 752px;
}
.home .community-engagement-yx00RT {
  background-color: transparent;
  height: 51px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 36px;
  position: absolute;
  text-align: left;
  top: 13.27%;
  white-space: nowrap;
  width: 100.28%;
}
.home .draft02-1DjvRl {
  background-color: transparent;
  height: 792px;
  left: 109px;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 218px);
}
.home .hero-content-xxXqfT {
  background-color: transparent;
  bottom: calc(49.93% - 175px);
  height: 351px;
  left: 150px;
  position: absolute;
  width: 821px;
}
.home .home-section-C61RwL {
  background-color: var(--cerulean-frost);
  height: 1024px;
  left: calc(50.00% - 720px);
  position: absolute;
  top: 0px;
  width: 1440px;
}
.home .narrative-draft01-C61RwL {
  background-color: transparent;
  bottom: calc(37.30% - 295px);
  height: 792px;
  left: 109px;
  position: absolute;
  width: calc(100.00% - 216px);
}
.home .section-clients-C61RwL {
  background-color: var(--cerulean-frost);
  height: 512px;
  left: calc(50.00% - 720px);
  position: absolute;
  top: 3941px;
  width: 1440px;
}
.home .section-expertise-C61RwL {
  background-color: var(--white);
  height: 836px;
  left: 0px;
  position: absolute;
  top: 3105px;
  width: 100%;
}
.home .section-hero-C61RwL {
  background-color: transparent;
  bottom: calc(42.06% - 1013px);
  height: 2408px;
  left: -2px;
  position: absolute;
  width: calc(100.00% + 2px);
}
.home .site-narrative-3WIeFz {
  background-color: transparent;
  height: 82px;
  letter-spacing: 0.00px;
  line-height: 69px;
  position: absolute;
  right: calc(49.90% - 230px);
  text-align: center;
  top: 30px;
  white-space: nowrap;
  width: 460px;
}
.home .stakeholder-story-toOMtE {
  background-color: transparent;
  height: 51px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 36px;
  position: absolute;
  text-align: left;
  top: 13.27%;
  white-space: nowrap;
  width: 100.62%;
}
.home .the-future-for-equit-4abgn0 {
  background-color: transparent;
  bottom: 7px;
  color: var(--white);
  font-family: 'Open Sans', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  height: 131px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 36px;
  position: absolute;
  text-align: left;
  width: calc(100.00% - 29px);
}
.home .the-goal-of-this-res-1DjvRl {
  background-color: transparent;
  bottom: 10px;
  color: var(--white);
  font-family: 'Open Sans', Helvetica, Arial, serif;
  font-size: 22px;
  font-style: normal;
  font-weight: None;
  height: 275px;
  left: 346px;
  letter-spacing: 0.00px;
  line-height: 46px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  width: calc(100.00% - 690px);
}
.home .top-menu-C61RwL {
  background-color: transparent;
  height: 49px;
  left: calc(30.92% - 99px);
  position: absolute;
  top: calc(49.57% - 24px);
  width: 321px;
}
.home .top-menu-xxXqfT {
  background-color: transparent;
  height: 49px;
  left: 150px;
  position: absolute;
  top: 40px;
  width: 707px;
}
.opensans-bold-white-36px {
  color: var(--white);
  font-family: 'Open Sans', Helvetica, Arial, serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
}
:root {
  --cerulean-frost: rgba(107,169,200,1.0);
  --white: rgba(255,255,255,1.0);
}
