* {
	margin: 0;
	padding: 0;
}

body {
	background: white;
}

.title {
	background: #071732;
	height: 800px;
}

.header {
	margin: 0 auto;
	width: 1000px;

}

.header p {
	display: inline-block;
	font-family: Catamaran;
	font-size: 30px;
	font-style: normal;
	font-weight: 500;
	color: white;
	text-align: center;
	margin-top: 80px;
	margin-left: 30px;
	letter-spacing: 15px;
}

section h1 {
	width: 100%;
	height: 30px;
	font-style: normal;
	letter-spacing: 1px;
	margin-top: 10px;
}

.header-text {
	margin: 0 auto 0 60px;
	width: 1000px;
}

.header-text p {
	margin-top: 30px;
	margin-left: 30px;
	color: white;
}

.header-text2 {
	margin: 0 auto;
	width: 1000px;
}

.header-text2 p {
	font-family: Times New Roman;
	font-size: 18px;
	font-style: italic;
	font-weight: 400;
	color: white;
	margin-top: 50px;
	margin-left: 80px;
	margin-bottom: 50px;
}

h1 {
	font-family: Catamaran;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	color: white;
	padding: 0 30px;
}

p {
	font-family: Catamaran;
	font-size: 14px;
	line-height: 20px;
	font-weight: 100;
	/*text-indent: 30px;*/
}

.leparti-bare {
	float: right;
	margin: 80px 100px;
	width: 400px;
}

