* {
	margin: 0;
	padding: 0;
}

body{
	width: 100%;
	height: 100vh;
	color: #fff;
	/*background: linear-gradient(#001432, #198c78);
	background-size: cover; 
	position: relative;*/
}

header {
	width: 100%;
	height: 18px;
	padding: 20px 0;
}

.header p {
	font-family: Catamaran;
	font-size: 30px;
	font-style: normal;
	font-weight: 500;
	color: white;
	margin-left: 30px;
	letter-spacing: 15px;

}

section h1 {
	width: 100%;
	height: 30px;
	font-style: normal;
	letter-spacing: 1px;
}


nav {
	width: 100%;
	height: 50px;
	background-color: rgb(225,225,225,.3);
}

ul {

}

ul li {
	list-style: none;
	display: inline-block;
	float: left;
	text-indent: 30px;
	line-height: 50px;

}

ul li a {
	text-decoration: none;
	font-size: 14px;
	font-family: Catamaran;
	font-weight: 100;
	color: white;
	padding: 0 20px;

}

ul li a:hover {
	color: #001432;
}

h1 {
	font-family: Catamaran;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	color: white;
	padding: 0 30px;
	
}

h2 {
	font-family: Catamaran;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	color: rgb(225,225,225,.8);
	text-indent: 40px;
	/*padding: 0 30px;*/
}

h3 {
	font-family: Catamaran;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	color: white;
}

p {
	font-family: Catamaran;
	font-size: 14px;
	line-height: 20px;
	font-weight: 100;
	/*text-indent: 30px;*/
}


.break-1 {
	float: left;
	width: 100%;
	height: 50px;
}

.white-space {
	float: left;
	width: 100%;
	height: 80px;
}

.img-stakeholders {
	width: 1000px;
}

.img-urbanstrategies {
	width: 600px;
}

.img-stk-location {
	float: left;
	margin-left: 350px;
}

.img-mvmt-safety {
	width: 800px;
}

.img-mvmt-location {
	float: right;
	margin-right: 30px;
}

/*.main {
	float: left;
	width: 100%;
	background-color: rgb(225,225,225,0.3);
}*/

.box {
	float: left;
	width: 500px;
	margin-left: 40px;
	margin-top: 10px;
	padding: 5px;
	background-color: rgb(225,225,225,.3);
	/*border: 2px solid blue;*/
}

.box2 {
	float: left;
	width: 500px;
	margin-left: 40px;
	margin-top: 60px;
	padding: 5px;
	text-align: center;
}

.box2 p{
	font-family: Times New Roman;
	font-size: 18px;
	font-style: italic;
	font-weight: 400;
	text-indent: none;
}

.box-stakeholders {
	float: left;
	width: 200px;
	height: 175px;
	margin-left: 100px;
	margin-top: 10px;
	padding: 5px;
	border: 2px solid white;
}

.box-stakeholders h3 {
	text-align: center;
	margin-bottom: 5px;
}

.box-stakeholders p{
	text-align: none;
	padding: 5px;
}